.stitched {
   padding: 20px;
   margin: 10px;
   background: #ddd;
   color: #222;
   font-size: 16px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #111;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #555, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aaa;
   font-weight: normal;
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
#addnewtask{
	padding: 2%;
	width: 38%;
	float: right;
}
#tasks{
	padding: 2%;
	width: 58%;
	float: left;
}
#info{
	text-align: center;
	font-weight: bolder;
}